 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap'); 
 @tailwind base;
@tailwind components;
@tailwind utilities;
body{
  background-color:#010026;
  /* background-color:#303a52; */
  color: white;
}
.logo{
  font-family: 'Dancing Script', cursive;
  font-weight:900
}
.right{
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Open Sans', sans-serif;
}